<div class="col-lg-4">
    <div class="testimonial-item mx-auto mb-5 mb-lg-0">
        <img class="img-fluid rounded-circle mb-3" src="{{ testemonial.image }}" alt="">
        <h5>{{ testemonial.author }}</h5>
        <p class="font-weight-light mb-0">{{ testemonial.text }}</p>
    </div>
</div>
